<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: template(~{:: #add-category-content})}">

<section id="add-category-content">
  <div class="container">

    <h1>Dodaj kategorię</h1>

    <form method="post" th:object="${newCategory}">
      <div class="form-group">
        <label>Nazwa:</label>
        <input th:field="*{name}" type="text" placeholder="Podaj nazwę..." class="input" required></div>

      <div class="form-group">
        <button class="btn">Dodaj</button>
      </div>
    </form>

  </div>
</section>
</html>

